.cart-dropdown {
  position: absolute;
  width: 280px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  padding: 15px 15px 10px 15px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 6%;
  z-index: 5;

  .cart-items {
    // height: 240px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .cart-checkout-btn{
    margin: auto auto 0 auto;
    padding-top: 5px;
    
    button {
      min-width: 180px;
      width: 70%;
      height: 42px;
      max-height: 9vw;
      padding: 0;
      opacity: 0.8;
    }
  }
}
