@import "../../assets//responsiveFont.scss";

$min_width: 320px;
$max_width: 1080px;
$min_font: 9px;
$max_font: 16px;

.checkout-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  // font-size: 20px;
  align-items: center;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);

  .image-container {
    width: 20%;
    padding: 0 7px;
    height: 10vw;

    img {
      max-width: 100%;
      height: 100%;
    }
  }
  .name{
    width: 31%;
    padding: 0 7px;
  }
  
  .quantity,
  .price {
    width: 20%;
    padding: 0 7px;
  }

  .quantity {
    span{
      cursor: pointer;
      &:hover{
        color: rgb(189, 13, 13);
      }
    }
  }

  .remove-item {
    width: 8%;
    // padding-left: 12px;
    padding: 0 7px;
    cursor: pointer;
  }
}
