@import '../../assets/responsiveFont.scss';

$min_width: 320px;
$max_width: 1200px;
$min_font: 10px;
$max_font: 22px;

.menu-item {
  min-width: 30%;
  height: 18vw;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;
  
  &:hover{
    cursor: pointer;
    
    & .background-img{
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
    & .content{
      opacity: 0.9;
    }
  }
  
  &.large{
    height: 25vw;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }
  
  .background-img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  .content {
    // height: 90px;
    // padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 15px 0;
    background-color: whitesmoke;
    opacity: 0.8;
    position: absolute;
    height: 6.5vw;
    width: 11vw;

    .title {
      font-weight: bold;
      margin-bottom: 4px;
      margin-top: 4px;
      // font-size: 1.5vw;
      @include fluid-type($min_width, $max_width, 4px, 22px);
      color: #4a4a4a;
    }

    .subtitle {
      font-weight: lighter;
      // font-size: 16px;
      // font-size: 1vw;
      @include fluid-type($min_width, $max_width, 2.5px, 16px);
    }
  }
}
